.contentPosition {
    // padding-left: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 124px;
    margin-bottom: 90px;
    gap: 220px;
}

app-about-me {
    // height: 532px;
}

@media (max-width: 950px) {
    .contentPosition {
        // padding-left: 24px;
        // padding-right: 24px;
    }
}