app-about-me {
    padding-left: 100px;
    display: flex;
    align-items: center;
}

app-projects {
    padding-left: 100px;
    display: flex;
    align-items: center;
}

app-skills {
    padding-left: 100px;
    display: flex;
    align-items: center;
}