.contentPosition {
    // padding-left: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 124px;
    margin-bottom: 90px;
    gap: 220px;
}

app-about-me {
    // height: 532px;
}

@media (max-width: 500px) {
    .contentPosition {
        gap: 100px;
        margin-top: 100px;
    }
}