.footer {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
}

.logoBox {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 0;

    >p {
        margin: 0;
        padding: 0;
        size: 16px;
    }
}

a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 16px;
}

.imp {
    display: flex;
}

.impMobile {
    display: none;
}

@media (max-width: 500px) {
    .footer {
        flex-direction: column;
    }

    .imp {
        display: none;
    }

    .impMobile {
        display: flex;
    }
}