.footer {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
}

.footerLogoBox {
    // width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 0;

    >p {
        margin: 0;
        padding: 0;
        size: 16px;
    }
}

a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 16px;
    cursor: pointer;
}

a:hover {
    background: linear-gradient(to right, var(--color-primary) 0 55px, transparent 50%) bottom no-repeat;
    background-size: 100% 3px;
}

.impMobile {
    display: none;
}

@media (max-width: 500px) {
    .footer {
        flex-direction: column;
    }

    .imp {
        display: none;
    }

    .impMobile {
        display: flex;
    }
}