.reviewBox {
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    .rightAlignBox {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

.glow {
    max-width: 898px;
    max-height: 976px;
    position: absolute;
    top: 50%;
    right: -38%;
    transform: translate(-77%, 0%);
    rotate: 90deg;
    pointer-events: none;
}

.trans {
    transform: translate(0px, 976px) scale(1, -1);
}

.borderBox {
    gap: 48px;

    .reviewTextBox {
        flex-direction: column;
        justify-content: space-between;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 20px;
        font-style: regular;
        border: 4px solid var(--color-primary);
        border-radius: 32px;
        padding: 48px 96px;
        gap: 44px;
        margin-left: 18px;

        .textOrder {
            text-align: left;
        }

        .authorLine {
            flex-direction: row;
            width: 100%;
            gap: 16px;

            .decorationLine {
                width: 100%;
                background-color: var(--color-secondary);
                height: 2px;
            }

            .nameBox {
                font-family: Montserrat;
                font-weight: 400;
                font-size: 18px;
                text-wrap: nowrap;
            }
        }
    }

    .circleBox {
        width: 272px;
        height: 272px;
        border-radius: 1000px;
        object-fit: cover;
        border: 4px solid var(--color-secondary);

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .rightDecorationLine {
        width: 104px;
        height: 4px;
        background-color: var(--color-secondary);
        border-radius: 2px;
    }
}

.controller {
    justify-content: space-between;
    width: 184px;

    .positionBox {
        width: 40px;
        height: 40px;
        position: relative;
    }

    .btn {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.2s ease;
    }

    .btn.hover {
        opacity: 0;
        pointer-events: none;
    }

    .positionBox:hover .btn.normal {
        opacity: 0;
    }

    .positionBox:hover .btn.hover {
        opacity: 1;
        pointer-events: auto;
    }

    svg {
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
            opacity: 1;
        }

        .selectDot {
            fill: var(--color-secondary);
        }

        &.active {
            .selectDot {
                fill: var(--color-primary);
            }
        }
    }
}

@media (max-width: 950px) {
    .reviewBox {
        gap: 35px;
    }

    .borderBox {
        .reviewTextBox {
            padding: 48px;
        }
    }
}

@media (max-width: 800px) {
    .borderBox {
        flex-direction: column-reverse;

        .reviewTextBox {
            padding: 32px;
            margin: 18px;

        }

        .rightDecorationLine {
            position: absolute;
            width: calc((100vw - 272px) / 2) !important;
        }
    }
}

@media (max-width: 500px) {
    .borderBox {
        .reviewTextBox {
            padding: 16px;
            font-size: 16px;
        }
    }
}