.themeButtons {
    display: flex;
    gap: 14px;
    >button {
        width: 40px;
        height: 32px;
        border: 1px solid var(--color-primary);
        color: var(--color-text);
        background-color: var(--color-background);
        font-size: 18px;
        font-weight: 400;
        border-radius: 10px;
        transition: background-color 0.15s ease;
    }
    &>button:hover {
        background-color: var(--color-secondary);
        border: 1px solid var(--color-secondary);
        cursor: pointer;
    }
    &>button.active {
        background-color: var(--color-primary);
        color: var(--color-text);
        font-weight: bold;
        cursor: default;
    }
}