.gap16 {
    gap: 16px;
}

.contactBox {
    gap: 40px;
    padding-bottom: 90px;
}

.glow {
    max-width: 1083px;
    max-height: 939px;
    position: absolute;
    top: 50%;
    transform: translate(-42%, -10%);
    pointer-events: none;
}

.headlineBox {
    gap: 32px;

    .decorationLine {
        width: calc((100% - 272px) / 2) !important;
        background-color: var(--color-secondary);
        height: 2px;
        align-self: center;
    }
}

.contentBox {
    justify-content: space-between;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    gap: 50px;

    .leftContainer {
        max-width: 500px;
        gap: 24px;

        h5 {
            font-size: 32px;
            font-weight: 700;
            margin: 0;
        }

        .textInOneLine {
            display: flex;
            padding-bottom: 24px;

            p {
                margin: 0;
            }
        }
    }
}

.formContainer {
    max-width: 617px;
    min-width: 52%;
    flex: 1;
    gap: 32px;

    mat-form-field {
        width: 100%;
    }

    .error {
        color: var(--color-warn);
        font-size: 14px;
    }

    .reservePlaceBox {
        display: flex;
        justify-content: center;
        height: 68px;

        .sendingButton {
            opacity: 1;
            height: 58px;
            padding: 15px 30px;
            border-radius: 10px;
            text-align: center;
            background: #B6B6B6;
            color: var(--color-text);
            font-size: 23px;
            white-space: nowrap;
            border: none;
            transition: background .18s,
                opacity 0.6s ease,
        }

        .sendingButton:disabled {
            cursor: not-allowed;
        }

        .sendingButton.hide {
            display: none;
            opacity: 0;
        }

        .sendingButton.active {
            background-color: var(--color-primary);
            cursor: pointer;

            &:hover {
                height: 68px;
                width: 272px;
                background-color: var(--color-secondary);
            }
        }

        .successBox {
            height: 58px;
            border-radius: 10px;
            text-align: center;
            border: 1px solid var(--color-success);
            opacity: 0;
            display: none;
            font-size: 18px;
            color: var(--color-primary);
            pointer-events: none;
            align-items: center;
        }

        .errorBox {
            height: 58px;
            border-radius: 10px;
            padding: 15px;
            text-align: center;
            border: 1px solid var(--color-warn);
            opacity: 0;
            display: none;
            font-size: 18px;
            color: var(--color-warn);
            pointer-events: none;
            align-items: center;
        }

        .successBox.active,
        .errorBox.active {
            display: flex;
            animation: pulseOpacity 1.6s ease 5;
        }
    }

    @keyframes pulseOpacity {
        0% {
            opacity: 0.3;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0.3;
        }
    }

    .bottomContactBoxContainer {
        align-items: center;
        gap: 16px;

        .radioBoxContainer {
            width: 100%;
            flex: 1;
            gap: 16px;

            .boxAsRow {
                height: 52px;

                .radioBox {
                    height: 27px;
                    gap: 8px;

                    p {
                        font-size: 14px;
                        color: var(--color-text);
                        margin: 0;
                        padding: 0;
                        align-self: center;

                        >a {
                            color: var(--color-secondary);
                            text-decoration: none;

                            &:hover {
                                cursor: pointer;
                                text-decoration: underline;
                                text-decoration-thickness: 0%;
                                text-underline-offset: 0%;
                                text-decoration-style: solid;
                            }
                        }
                    }
                }
            }
        }

        .hintBoxTextArea {
            width: 100%;
            gap: 10px;
        }
    }

    .hintBox {
        gap: 10px;
    }
}

.goUpBox {
    height: 39px;
}

.goUp {
    width: 39px;
    height: 39px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
}

.goUp:hover {
    cursor: pointer;
    color: var(--color-primary);
}

@media (max-width: 1000px) {
    .contentBox {
        padding-left: 50px;
        padding-right: 50px;
        gap: 30px;
    }
}

@media (max-width: 800px) {
    .contentBox {
        flex-direction: column;
        align-items: center;
        padding-left: 24px;
        padding-right: 24px;
        gap: 0;
    }
}

@media (max-width: 600px) {

    .reservePlaceBox {
        height: 48px;

        .sendingButton {
            height: 58px;
            padding: 15px 30px;
            border-radius: 10px;
            text-align: center;
            background: #B6B6B6;
            color: var(--color-text);
            font-size: 16px;
            white-space: nowrap;
            border: none;
            transition: background .18s, transform .12s;
        }
    }
}