.contactBox {
    display: flex;
    flex-direction: column;
    gap: 40px;
    // align-items: center;
    // justify-content: center;
    // background-color: --var(--background-color);
}

.headlineBox {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 32px;

    .posRel {
        position: relative;
        left: 0px;
    }

    .decorationLine {
        // width: 100%;
        // position: absolute;
        width: calc((100vw - 272px) / 2) !important;
        background-color: var(--color-secondary);
        height: 2px;
        align-self: center;
    }
}

.contentBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 149px;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .hintBox {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input,
        textarea {
            // flex: 1;
            // width: 100%;
            // max-width: 617px;
            border: 1px solid var(--color-secondary);
            color: var(--color-text);
            border-radius: 10px;
            padding: 15px 25px;
            background-color: var(--color-background);

            &:hover {
                cursor: pointer;
                border: 1px solid var(--color-primary);
            }

            &:focus {
                outline: none;
                border: 1px solid var(--color-primary);
                // box-shadow: 0 0 0 4px rgba(24,55,112,0.06);
            }

            /* Wenn Angular die ng-invalid Klasse setzt und das Feld fokussiert ist, zeige roten Rahmen */
            &.ng-invalid:focus {
                border-color: var(--color-warn);
                transition: border-color 300ms ease-out, box-shadow 300ms ease-out;
                // animation-duration: 300ms;

                // box-shadow: 0 0 0 4px rgba(255,96,96,0.12);
            }

            /* Wenn das Feld bereits berührt/validiert wurde und ungültig ist, dauerhaft rot markieren */
            // &.ng-touched.ng-invalid {
                // border-color: var(--color-warn);
            // }
        }
    }

    .boxAsRow {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        >p {
            font-size: 14px;
            color: var(--color-text);
            margin: 0;
            padding: 0;
            align-self: center;

            >a {
                color: var(--color-secondary);
                text-decoration: none;

                &hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .error {
        color: var(--color-warn);
        font-size: 14px;
    }

    .buttonBox {
        display: flex;
        align-items: center;
        justify-content: center;

        .sendingButton {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: content-box;
            width: 193px;
            // height: 28px;
            padding: 15px 30px;
            border-radius: 10px;
            text-align: center;
            background: #B6B6B6;
            color: var(--color-text);
            font-size: 23px;
            text-wrap: nowrap;
            border: none;
            transition: background .18s, transform .12s;
        }

        .sendingButton.active {
            background-color: var(--color-primary);
            border: 1px solid var(--color-primary);
            cursor: pointer;
            transform: translateY(-2px);

            &:hover {
                background-color: var(--color-secondary);
                border: 1px solid var(--color-secondary);
            }
        }
    }
}

@media (max-width: 1000px) {
    .contentBox {
        padding-left: 50px;
        padding-right: 50px;
        gap: 50px;
    }
}

@media (max-width: 800px) {
    .contentBox {
        flex-direction: column;
        padding-left: 24px;
        padding-right: 24px;
        gap: none;
    }
}


.radioBox {
    cursor: pointer;
}

.radioBox input {
    position: absolute;
    opacity: 0;
}

/* Grundform */
.box {
    width: 22px;
    height: 22px;
    border-radius: 6px;
    border: 2px solid var(--color-primary);
    display: grid;
    place-items: center;
    position: relative;
    transition: border-color .2s;
}

/* Hover-Schein */
.box::before {
    content: "";
    position: absolute;
    inset: -6px;
    background: rgba(24, 55, 112, 0.3);
    border-radius: 50%;
    opacity: 0;
    transition: opacity .2s;
}

.radioBox:hover .box::before {
    opacity: 1;
}

/* Haken */
.check {
    width: 22px;
    height: 22px;
    stroke: var(--color-primary);
    //   stroke-width: 3;
    fill: var(--color-primary);
    opacity: 0;
    transform: scale(.6);
    transition: .2s ease;
}

/* Checked-Zustand */
.radioBox input:checked+.box {
    border-color: var(--color-primary);
}

.radioBox input:checked+.box .check {
    opacity: 1;
    transform: scale(1);
}