<div class="contactBox">
    <div class="headlineBox">
        <div class="decorationLine"></div>
        <h1>Contact</h1>
    </div>
    <div class="contenBox">
        <div class="leftContainer">
            <p>hier muss ein Text stehen
            </p>
        </div>
        <form class="formContainer">
            <label for="name"></label>
            <input type="text" id="name" name="name" placeholder="Your name">
            <label for="email"></label>
            <input type="text" id="email" name="email" placeholder="Your email">
            <label for="subject"></label>
            <input type="text" id="subject" name="subject" placeholder="Your message">
            <input type="radio" name="privacy" id="privacy">
            <label for="privacy">I agree to the processing of my data in accordance with the privacy policy.</label>
            <button> Send  message</button>
        </form>
    </div>
</div>