.contactBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: --var(--background-color);
}

.contentBox {
    display: flex;
    flex-direction: row;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;

    >input,
    textarea {
        border: 1px solid var(--color-secondary);
        border-radius: 10px;
        padding: 15px 25px;
        background-color: var(--color-background);

        &:hover {
            cursor: pointer;
            border: 1px solid var(--color-primary);
        }
    }
}