.gap16 {
    gap: 16px;
}

.contactBox {
    gap: 40px;
    padding-bottom: 90px;
}

.glow {
    max-width: 1083px;
    max-height: 939px;
    position: absolute;
    top: 50%;
    transform: translate(-42%, -10%);
    pointer-events: none;
}

.headlineBox {
    gap: 32px;

    .decorationLine {
        width: calc((100vw - 272px) / 2) !important;
        background-color: var(--color-secondary);
        height: 2px;
        align-self: center;
    }
}

.contentBox {
    justify-content: space-between;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    gap: 50px;

    .leftContainer {
        max-width: 500px;
        gap: 24px;

        h5 {
            font-size: 32px;
            font-weight: 700;
            margin: 0;
        }

        .textInOneLine {
            display: flex;
            padding-bottom: 24px;

            p {
                margin: 0;
            }
        }
    }
}

.formContainer {
    max-width: 617px;
    min-width: 52%;
    flex: 1;
    gap: 32px;

    mat-form-field {
        width: 100%;
    }

    .error {
        color: var(--color-warn);
        font-size: 14px;
    }

    .reservePlaceBox {
        display: flex;
        justify-content: center;
        height: 68px;

        .sendingButton {
            height: 58px;
            padding: 15px 30px;
            border-radius: 10px;
            text-align: center;
            background: #B6B6B6;
            color: var(--color-text);
            font-size: 23px;
            white-space: nowrap;
            border: none;
            transition: background .18s;
        }

        .sendingButton.hide {
            display: none;
        }

        .sendingButton.active {
            background-color: var(--color-primary);
            cursor: pointer;

            &:hover {
                height: 68px;
                width: 272px;
                background-color: var(--color-secondary);
            }
        }

        .successBox {
            height: 58px;
            padding: 15px 30px;
            border-radius: 10px;
            text-align: center;
            border: 1px solid var(--color-success);
            opacity: 0;
            display: none;
            font-size: 18px;
            color: var(--color-primary);
            align-self: center;
            pointer-events: none;
        }

        .successBox.active {
            display: block;
            animation: pulseOpacity 0.9s ease 3;
        }
    }

    @keyframes pulseOpacity {
        0% {
            opacity: 0.3;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0.3;
        }
    }

    .bottomContactBoxContainer {
        align-items: center;
        gap: 16px;

        .radioBoxContainer {
            width: 100%;
            flex: 1;
            gap: 16px;

            .boxAsRow {
                height: 52px;

                .radioBox {
                    height: 27px;
                    gap: 8px;

                    p {
                        font-size: 14px;
                        color: var(--color-text);
                        margin: 0;
                        padding: 0;
                        align-self: center;

                        >a {
                            color: var(--color-secondary);
                            text-decoration: none;

                            &:hover {
                                cursor: pointer;
                                text-decoration: underline;
                                text-decoration-thickness: 0%;
                                text-underline-offset: 0%;
                                text-decoration-style: solid;
                            }
                        }
                    }
                }
            }
        }

        .hintBoxTextArea {
            width: 100%;
            gap: 10px;
        }
    }

    .hintBox {
        gap: 10px;
    }
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--color-secondary);
    color: var(--color-text);
    border-radius: 10px;
    font-size: 16px;
    padding: 15px 25px;
    background-color: var(--color-background);

    &:hover {
        cursor: pointer;
        border: 1px solid var(--color-primary);
    }

    &:focus {
        outline: none;
        border: 1px solid var(--color-primary);
    }

    &.ng-valid {
        border-color: var(--color-primary);
        transition: border-color 300ms ease-out, box-shadow 300ms ease-out;
    }

    &.ng-invalid:focus {
        border-color: var(--color-warn);
        transition: border-color 300ms ease-out, box-shadow 300ms ease-out;
    }
}

.icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    display: grid;
    place-items: center;

    svg {
        width: 22px;
        height: 22px;
    }
}

.textAreaIconPosition {
    top: 26px;
}

.icon.success {
    color: var(--color-primary);
}

.icon.error {
    color: var(--color-warn);
    font-size: 14px;
}

.icon.error .ng-invalid {
    color: var(--color-warn);
}

::ng-deep {

    .mat-mdc-checkbox {
        width: 24px !important;
        height: 24px !important;
        --mdc-checkbox-state-layer-size: 24px;
    }

    .mdc-checkbox__background {
        border-color: var(--color-primary) !important;
        background-color: var(--color-background) !important;
    }

    .mat-mdc-checkbox:hover .mdc-checkbox__background {
        background-color: rgba(24, 55, 113, 1) !important;
    }

    .mat-mdc-checkbox-touch-target {
        width: 24px !important;
        height: 24px !important;
    }

    .mdc-checkbox__ripple {
        width: 24px !important;
        height: 24px !important;
        background-color: rgba(24, 55, 113, 1) !important;
        opacity: 0 !important;
        transition: opacity 0.2s ease-in-out !important;
    }

    .mat-mdc-checkbox:hover .mdc-checkbox__ripple {
        background-color: rgba(24, 55, 113, 1) !important;
        opacity: 1 !important;
    }

    .mat-mdc-checkbox-checked:hover .mdc-checkbox__background {
        background-color: #183771 !important;
    }

    .mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__ripple {
        background-color: #183771 !important;
    }

    .mdc-checkbox__checkmark {
        color: var(--color-primary) !important;
    }

    .mdc-checkbox__native-control:focus~.mdc-checkbox__background {
        border-color: var(--color-primary) !important;
    }
}

@media (max-width: 1000px) {
    .contentBox {
        padding-left: 50px;
        padding-right: 50px;
        gap: 30px;
    }
}

@media (max-width: 800px) {
    .contentBox {
        flex-direction: column;
        align-items: center;
        padding-left: 24px;
        padding-right: 24px;
        gap: 0;
    }
}

@media (max-width: 600px) {

    .reservePlaceBox {
        height: 48px;

        .sendingButton {
            height: 58px;
            padding: 15px 30px;
            border-radius: 10px;
            text-align: center;
            background: #B6B6B6;
            color: var(--color-text);
            font-size: 16px;
            white-space: nowrap;
            border: none;
            transition: background .18s, transform .12s;
        }
    }
}