.aboutMeContainer {
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // gap: 149px;
}

p {
    font-size: 16px;
    margin: 0;
}

.textBox {
    width: 100%;
    max-width: 471px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    div {
        display: flex;
        flex-direction: column;
        gap: 32px;

        div {
            gap: 24px;

            .iconTextCombination {
                display: flex;
                flex-direction: row;
                // align-items: center;
                gap: 16px;
            }
        }
    }

    img {
        width: 48px;
        height: 48px;
    }
}

.circlePortaitBox {
    max-width: 720px;
    // width: 100%;
    height: 445px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    // gap: 24px;

    .circleLine {
        // height: 445px;
        min-width: 322px;
        border: 4px solid var(--color-primary);
        // border-radius: 226.5px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .line {
        width: 100%;
        max-width: 267px;
        height: 4px;
        background-color: var(--color-primary);
    }
}

@media (max-width: 740px) {
    .aboutMeContainer {
        justify-content: center;
        padding-left: 50px;
    }

    .circlePortaitBox {
        display: none;
    }
}

@media (max-width: 450px) {
    .aboutMeContainer {
        padding-left: 10px;
    }
}