<div class="aboutMeContainer">
    <div class="textBox">
        <h1>About me</h1>
        <div>
            <p>
                Write some information about yourself that is IT related.
                Why are you passionate about coding? What is your source of inspiration for improving your programming
                skills?
            </p>
            <div>
                <div class="iconTextCombination">
                    <img src="assets/icons/11location.png" alt="Standordpin Symbol">
                    <p>
                        Where are you located? Are you open to different ways of working, such as working remotely or
                        even
                        relocating?
                    </p>
                </div>
                <div class="iconTextCombination">
                    <img src="assets/icons/12bulbdesktop.png" alt="Glühbirnen Symbol">
                    <p>
                        Show that you are open-minded. Are you enthusiastic about learning new technologies and
                        continually
                        improving
                        your
                        skills?
                    </p>
                </div>
                <div class="iconTextCombination">
                    <img src="assets/icons/13puzzledesktop.png" alt="Puzzle Symbol">
                    <p>
                        A brief description of your problem-solving approach. Do you learn from each challenge as you
                        search
                        for
                        the
                        most
                        efficient or elegant solution? You can include some keywords like: analytical thinking,
                        creativity,
                        persistence
                        and
                        collaboration.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="circlePortaitBox">
        <div class="circleLine">
            <!-- <img src="assets/icons/placeholder.png" alt="Portrait Bild"> -->
            <!-- <img src="assets/icons/test/Bilder/thumbnail_582A0975_cut.PNG" alt="Portrait Bild"> -->
            <img src="assets/icons/test/Bilder/thumbnail_582A1139_cut.PNG" alt="Portrait Bild">
        </div>
        <div class="line"></div>
    </div>
</div>