.aboutMeContainer {
    padding-left: 100px;
    flex-direction: row;
    justify-content: space-between;
}

.glow {
    max-width: 572px;
    max-height: 608px;
    position: absolute;
    right: 0;
    transform: translate(36%, -25%);
    pointer-events: none;
}

p {
    font-size: 16px;
    margin: 0;
}

.textBox {
    width: 100%;
    max-width: 471px;
    gap: 40px;
}

img {
    width: 48px;
    height: 48px;
}

.gap16 {
    gap: 16px;
}

.gap24 {
    gap: 24px;
}

.gap32 {
    gap: 32px;
}

.circlePortraitBox {
    max-width: 720px;
    height: 445px;
    flex: 1;
    flex-direction: row;

    .circleLine {
        min-width: 322px;
        border: 4px solid var(--color-primary);
        border-radius: 50%;
        overflow: hidden;
        z-index: 1;

        img {
            width: 100%;
            max-width: 322px;
            height: auto;
            max-height: 322px;
            object-fit: contain;
        }
    }

    .line {
        width: 100%;
        max-width: 267px;
        height: 4px;
        background-color: var(--color-primary);
        z-index: 1;
    }
}

@media (max-width: 740px) {
    .aboutMeContainer {
        justify-content: center;
        padding-left: 50px;
    }

    .circleLine,
    .line {
        display: none;
    }
}

@media (max-width: 450px) {
    .aboutMeContainer {
        padding-left: 10px;
    }
}