<div class="aboutMeContainer flexAlignCenter">
    <div class="textBox flexColumn">
        <h2 translate="about.title"></h2>
        <div class="flexColumn gap32">
            <p translate="about.someInfo">
            </p>
            <div class="flexColumn gap24">
                <div class="flexRow gap16">
                    <img src="assets/icons/11location.png" alt="Standordpin Symbol">
                    <p translate="about.from">
                    </p>
                </div>
                <div class="flexRow gap16">
                    <img src="assets/icons/12bulbdesktop.png" alt="Glühbirnen Symbol">
                    <p translate="about.toKnowNew">
                    </p>
                </div>
                <div class="flexRow gap16">
                    <img src="assets/icons/13puzzledesktop.png" alt="Puzzle Symbol">
                    <p translate="about.problemSolvingText">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="circlePortaitBox flexAlignCenter">
        <div class="circleLine fleyCenter">
            <img src="assets/icons/test/Bilder/thumbnail_582A1139_cut.PNG" alt="Portrait Bild">
        </div>
        <div class="line"></div>
    </div>
</div>