<div class="aboutMeContainer">
    <div class="textBox">
        <h2 translate="about.title"></h2>
        <div>
            <p translate="about.someInfo">
            </p>
            <div>
                <div class="iconTextCombination">
                    <img src="assets/icons/11location.png" alt="Standordpin Symbol">
                    <p translate="about.from">
                    </p>
                </div>
                <div class="iconTextCombination">
                    <img src="assets/icons/12bulbdesktop.png" alt="Glühbirnen Symbol">
                    <p translate="about.toKnowNew">
                    </p>
                </div>
                <div class="iconTextCombination">
                    <img src="assets/icons/13puzzledesktop.png" alt="Puzzle Symbol">
                    <p translate="about.problemSolvingText">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="circlePortaitBox">
        <div class="circleLine">
            <!-- <img src="assets/icons/placeholder.png" alt="Portrait Bild"> -->
            <!-- <img src="assets/icons/test/Bilder/thumbnail_582A0975_cut.PNG" alt="Portrait Bild"> -->
            <img src="assets/icons/test/Bilder/thumbnail_582A1139_cut.PNG" alt="Portrait Bild">
        </div>
        <div class="line"></div>
    </div>
</div>