<div class="projectBox">
    <img src="../../../../assets/img/platzhalter.png" alt="">
    <div class="gap-30">
        <div class="gap-15">
            <h3 class="changeColor">JOIN</h3>
            <h4>HTML | CSS | Firebase</h4>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, rerum facere. Voluptatem, et? Ut
                labore
            </div>
        </div>
        <div class="buttonsBox">
            <button class="buttonColor">Live test</button>
            <button>Github</button>
        </div>
    </div>
</div>