.projectBox {
    height: 620px;
    width: 100%;
    max-width: 513px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

h3 {
    size: clamp(24px, 4vw, 32px);
    font-weight: 700;
    font-style: bold;
    margin: 0;
}

.changeColor {
    display: inline;
    color: var(--color-secondary);
}

h4 {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    color: var(--color-primary);
}

.gap-30 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.gap-15 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttonsBox {
    display: flex;
    flex-direction: row;
    gap: 86px;
    margin-top: 40px;

    .buttonColor {
        background-color: var(--color-secondary);
        border: 1px solid var(--color-secondary);

    }

    a {
        color: var(--color-text);
    }

    button {
        width: 152px;
        height: 58px;
        border: 1px solid var(--color-primary);
        color: var(--color-text);
        background-color: var(--color-background);
        font-size: 18px;
        font-weight: 400;
        border-radius: 10px;
        transition: background-color 0.15s ease;

        &:hover {
            background-color: var(--color-primary);
            border: 1px solid var(--color-primary);
            cursor: pointer;
        }
    }
}