<div *ngFor="let project of projects; let i = index">
    <div class="projectBox" [ngClass]="{'reverseRow': i % 2 !== 0}">
        <img [src]="project.image" alt="">
        <div class="discriptionBox" [ngClass]="{'changeTextAlignment': i % 2 !== 0}">
            <div>
                <h3 class="changeColor">{{ project.title }}</h3>
                <h4>{{ project.technologies }}</h4>
                <div>{{ project.description }}
                </div>
            </div>
            <div class="buttonsBox" [ngClass]="{'changeButtonAlignment': i % 2 !== 0}">
                <a class="button buttonColor" [href]="project.link" target="_blank" rel="noopener noreferrer">Live test</a>
                <a *ngIf="project.gitlink" class="button buttonWithoutColor" [href]="project.gitlink" target="_blank" rel="noopener noreferrer">Github</a>
            </div>
        </div>
    </div>
</div>