.gap15 {
    gap: 15px;
}

.projectBox {
    min-height: 340px;
    width: 100%;
    justify-content: flex-end;
    gap: 35px;
    padding: 0 16px;

    &.reverseRow {
        flex-direction: row-reverse;
    }

    .discriptionBox {
        width: 513px;
        gap: 35px;
        flex: 1;

        &.changeTextAlignment {
            text-align: end;
        }

        .buttonsBox {
            gap: 86px;
            justify-content: flex-start;

            &.changeButtonAlignment {
                justify-content: flex-end;
            }

            .button {
                max-width: 152px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                height: 58px;
                color: var(--color-text);
                font-size: 18px;
                font-weight: 400;
                border-radius: 10px;
                text-decoration: none;
                transition: background-color 0.15s ease;
            }

            .buttonColor {
                background-color: var(--color-secondary);
                border: 1px solid var(--color-secondary);
            }

            .buttonWithoutColor {
                border: 1px solid var(--color-primary);
            }

            .buttonWithoutColor:hover {
                background-color: var(--color-primary);
                border: 1px solid var(--color-primary);
            }

            .buttonColor:hover {
                background-color: var(--color-primary);
                border: 1px solid var(--color-primary);
                cursor: pointer;
            }

            a {
                color: var(--color-text);
            }

            button {
                width: 152px;
                height: 58px;
                border: 1px solid var(--color-primary);
                color: var(--color-text);
                background-color: var(--color-background);
                font-size: 18px;
                font-weight: 400;
                border-radius: 10px;
                transition: background-color 0.15s ease;

                &:hover {
                    background-color: var(--color-primary);
                    border: 1px solid var(--color-primary);
                    cursor: pointer;
                }
            }
        }

    }
}

.laptop svg {
    width: 100%;
    height: auto;
}

.laptop {
    flex: 1;
    gap: 15px;
    filter: drop-shadow(0 20px 45px rgba(0, 0, 0, .35));
}

.lid {
    transform-origin: 600px 560px;
    transform: perspective(120000px) rotateX(-90deg);
    transition: transform 1200ms ease;
    cursor: pointer;
}

.laptop.open .lid {
    transform: perspective(120000px) rotateX(0deg);
}

.rim {
    transform-origin: 600px 700px;
    transform: perspective(120000px) rotateX(0deg);
    transition: transform 1200ms ease;
}

.laptop.open .rim {
    transform: perspective(120000px) rotateX(-90deg);
}

.greenStrip {
    x: 250px;
    y: 500px;
    width: 700px;
    height: 40px;
}

h3 {
    size: clamp(24px, 4vw, 32px);
    font-weight: 700;
    margin: 0;
}

h4 {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    color: var(--color-primary);
}

.changeColor {
    display: inline;
    color: var(--color-secondary);
}


@media (max-width: 1000px) {
    .projectBox {
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &.reverseRow {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .discriptionBox {
            width: 100%;
            max-width: 513px;

            &.changeTextAlignment {
                text-align: center;
            }

            .buttonsBox {
                justify-content: center;
                gap: 86px;

                &.changeButtonAlignment {
                    justify-content: center;
                }
            }

            .buttonsBox .buttonColor:only-child {
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 500px) {
    .projectBox {
        .discriptionBox {
            .buttonsBox {
                gap: unset;
                justify-content: space-around;

                &.changeButtonAlignment {
                    justify-content: space-around;

                }
            }
        }
    }
}