<section class="skills">
    <div class="icons">
        <app-skill-icon-box></app-skill-icon-box>
    </div>
    <div class="text mySkillsTextBox gap-40">
        <div class="intro">
            <div class="headlineStyle">
                <h2 translate="skills.title"></h2>
                <div class="decorationLine"></div>
            </div>
            <p translate="skills.show"></p>
        </div>
        <div class="cta">
            <div class="textWithButtonBox gap-40">
                <div class="gap-16">
                    <div class="twoColorLine">
                        <h4>
                            {{ 'skills.before' | translate }}
                            <span class="changeColor">{{ 'skills.highlight' | translate }}</span> ?
                        </h4>
                    </div>
                    <p translate="skills.reveal"></p>
                </div>
                <div class="reservePlaceBox">
                    <button translate="skills.inTouch" (click)="scrollTo('contact')"></button>
                </div>
            </div>
        </div>
    </div>
</section>