.mySkillsBox {
    // max-height: 520px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: end;

    .headlineStyle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;

        .decorationLine {
            width: 68px;
            height: 4px;
            background-color: var(--color-secondary);
            border-radius: 2px;
        }
    }

    >div {
        .pdRight100 {
            padding-right: 100px;

            .twoColorLine {
                font-size: clamp(24px, 4vw, 32px);
                width: 100%;
                display: flex;
                flex-direction: row !important;
                flex: 1;
                justify-content: flex-end;
                align-items: center;

                .changeColor {
                    display: inline;
                    color: var(--color-secondary);
                }
            }

            button {
                font-size: 23px;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 30px;
                padding-right: 30px;
                border-radius: 10px;
                background-color: var(--color-primary);
                color: var(--color-text);
                // display: flex;
                // flex-direction: column;
                // gap: 20px;
                // align-items: flex-start;
            }
        }
    }
}

h3 {
    size: clamp(24px, 4vw, 32px);
    font-weight: 700;
    font-style: bold;
}

@media (max-width: 740px) {
    .mySkillsBox {
        flex-direction: column;
    }
}