<div class="mySkillsBox">
    <app-skill-icon-box></app-skill-icon-box>
    <div class="mySkillsTextBox gap-40">
        <div class="headlineStyle">
            <h1>My skills</h1>
            <div class="decorationLine"></div>
        </div>
        <div class="pdRight100 gap-24">
            <p>Show that have used a variety of front-end technologies in your projects.</p>
            <div class="gap-40">
                <div class="gap-16">
                    <div class="twoColorLine">
                        <h3>Looking for <div class="changeColor">another skill</div>?</h3>
                    </div>
                    <p>Reveal enthusiasm for learning new technologies and frameworks</p>
                </div>
                <button>Get in touch</button>
            </div>
        </div>
    </div>
</div>