.mySkillsBox {
    // max-height: 520px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    // gap: 20px;
    text-align: end;

    .mySkillsTextBox {
        max-width: 571px;
        width: 100%;
    }

    .gap-40 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;
    }

    .gap-24 {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .gap-16 {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .headlineStyle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;

        .decorationLine {
            width: 68px;
            height: 4px;
            background-color: var(--color-secondary);
            border-radius: 2px;
        }
    }

    >div {
        .pdRight100 {
            padding-right: 100px;

            p {
                margin: 0;
            }

            .twoColorLine {
                font-size: clamp(24px, 4vw, 32px);
                width: 100%;
                display: flex;
                flex-direction: row !important;
                flex: 1;
                justify-content: flex-end;
                align-items: center;

                .changeColor {
                    display: inline;
                    color: var(--color-secondary);
                }
            }

            button {
                width: 200px;
                height: 58px;
                font-size: 23px;
                // padding-top: 15px;
                // padding-bottom: 15px;
                // padding-left: 30px;
                // padding-right: 30px;
                border-radius: 10px;
                background-color: var(--color-primary);
                color: var(--color-text);
                // display: flex;
                // flex-direction: column;
                // gap: 20px;
                // align-items: flex-start;
                cursor: pointer;

                &:hover {
                    width: 220px;
                    height: 68px;
                    background-color: var(--color-secondary);
                    cursor: pointer;
                }
            }
        }
    }
}

h3 {
    size: clamp(24px, 4vw, 32px);
    font-weight: 700;
    font-style: bold;
    margin: 0;
}

@media (max-width: 740px) {
    .mySkillsBox {
        flex-direction: column;
        gap: 20px;
    }
}