.skills {
    display: flex;
    text-align: end;
    justify-content: space-between;
    gap: 40px;
}

.glow {
    max-width: 898px;
    max-height: 976px;
    position: absolute;
    top: 50%;
    transform: translate(-70%, 0);
    pointer-events: none;
}

.mySkillsTextBox {
    max-width: 650px;
    width: 100%;
}

.gap-16 {
    gap: 16px;
}

.gap-40 {
    gap: 40px;
}

.headlineStyle {
    justify-content: flex-end;
    gap: 32px;

    .decorationLine {
        max-width: 68px;
        flex: 1;
        height: 4px;
        background-color: var(--color-secondary);
        border-radius: 2px;
    }
}

.twoColorLine {
    font-size: clamp(24px, 4vw, 32px);
    width: 100%;
    flex-direction: row !important;
    flex: 1;
    justify-content: flex-end;

    .changeColor {
        display: inline;
        color: var(--color-secondary);
        white-space: nowrap;
    }

    .changeColor::after {
        content: " ?";
        color: var(--color-text);
    }
}

.reservePlaceBox {
    width: 220px;
    height: 68px;

    button {
        width: 200px;
        height: 58px;
        font-size: 23px;
        background-color: var(--color-primary);
        border-radius: 10px;
        border: 1px solid var(--color-primary);
        color: var(--color-text);
        cursor: pointer;

        &:hover {
            width: 220px;
            height: 68px;
            background-color: var(--color-secondary);
            border: 1px solid var(--color-secondary);
            cursor: pointer;
            transition: all 0.2s ease;
        }
    }
}

p {
    padding-right: 100px;
    margin: 0;
}

.textWithButtonBox {
    align-items: flex-end;

    p {
        padding-right: 0;
    }
}

h4 {
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 700;
    margin: 0;
}

.cta {
    padding-right: 100px;
}

@media (min-width: 900px) {
    .skills {
        flex-direction: row;
        align-items: start;
    }

    .text {
        display: flex;
        flex-direction: column;
    }

    .intro {
        gap: 40px;
    }
}

@media (max-width: 899px) {

    p {
        padding-left: 12px;
    }

    .skills {
        flex-direction: column;
    }

    .icons {
        order: 2;
        display: flex;
        justify-content: center;
    }

    .text {
        order: 1;
        display: contents;
    }

    .intro {
        order: 1;
        gap: 40px;
    }

    .cta {
        order: 3;
    }
}

@media (max-width: 700px) {
    p {
        padding-right: 56px;
    }

    .intro {
        .headlineStyle {
            .decorationLine {
                max-width: 24px;
            }
        }
    }

    .cta {
        padding-right: 56px;
    }
}

@media (max-width: 600px) {
    .headlineStyle {
        gap: 16px;

        .decorationLine {
            width: 24px;
        }
    }

    .cta {
        .textWithButtonBox {
            align-items: unset;

            button {
                margin-left: 50vw;
                translate: -50%;
            }
        }
    }
}

@media (max-width: 500px) {
    p {
        padding-right: 40px;
    }

    .headlineStyle {
        gap: 16px;
    }

    .cta {
        padding-right: 40px;
    }
}