.gap-32 {
    gap: 32px;
}

.glow {
    max-width: 827px;
    max-height: 934px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

app-application {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.headBox {
    text-align: center;
    gap: 40px;

    .headlinePosition {
        justify-content: flex-end;
        flex-direction: row;
        gap: 32px;
    }

    p {
        margin: 0px;
        padding: 0 16px;
    }
}

.decorationLineShort {
    max-width: 100px;
    width: 100%;
    height: 4px;
    background-color: var(--color-secondary);
    border-radius: 2px;
}

.decorationLine {
    max-width: 507px;
    width: 100%;
    height: 4px;
    background-color: var(--color-secondary);
    border-radius: 2px;
}

@media (max-width: 1000px) {
    app-application {
        display: flex;
        flex-direction: column;
        gap: 54px;
    }
}