.navBar {
    width: 100%;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >a {
        color: var(--color-text);
    }

    &>a:hover {
        color: var(--color-text-active);
    }

    &>a.active {
        // border-bottom: solid 2px var(--color-primary);
        color: var(--color-text-active);
        background: linear-gradient(to right, var(--color-secondary) 0 55px, transparent 50%) bottom no-repeat;
        background-size: 100% 3px;
        cursor: default;
    }
}