.navBar {
    flex: 1;
    // width: 100%;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoBox {
        width: 150px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            font-size: 28px;
            font-weight: 600;
            color: var(--color-text);
            text-align: center;
        }

        img {
            color: white;
            // background-color: white;
            width: auto;
            height: 60px;
        }
    }

    &>div {
        // width: 100%;
        max-width: 524px;
        font-size: 23px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        text-wrap: nowrap;

        .linkContainer {
            display: flex;
            gap: 29px;
        }

        a {
            color: var(--color-text);
        }

        a:hover {
            color: var(--color-text-active);
        }

        a.active {
            // border-bottom: solid 2px var(--color-primary);
            color: var(--color-text-active);
            background: linear-gradient(to right, var(--color-secondary) 0 55px, transparent 50%) bottom no-repeat;
            background-size: 100% 3px;
            cursor: default;
        }
    }

    .burger {
        height: 34px;
        // width: 30px;
        display: none;
        // position: absolute;
        // right: 24px;
        // top: 24px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        gap: 14px;

        >.line {
            background-color: white;
            width: 30px;
            height: 2px;
            // border-radius: 5.5px;
        }
    }

    .selectontainer {
        display: flex;
        align-items: center;
        gap: 28px;

        // app-change-theme {
        // display: block;
        // }
    }
}

@media (max-width: 1000px) {
    .selectontainer {
        app-change-theme {
            display: none;
        }
    }
}

@media (max-width: 535px) {
    .navBar {
        .logoBox {
            width: 120px;

            img {
                height: 50px;
            }
        }

        &>div {
            max-width: 300px;
            font-size: 18px;
            gap: 16px;

            .linkContainer {
                display: none;
            }
        }

        .burger {
            display: flex;
        }
    }
}