.aboveTheFold {
    max-width: 1440px;
    flex-wrap: wrap;

    img {
        max-width: 600px;
        width: 100%;
        max-height: 440px;
        height: auto;
        flex: 1;
        object-fit: contain;
    }
}

.headlines {
    flex-direction: column;
    white-space: nowrap;
}

.gap30 {
    gap: 30px;
}

.reservePlaceBox {
    width: 220px;
    height: 68px;
    display: flex;
    justify-content: center;

    >button {
        height: 58px;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 10px;
        background-color: var(--color-primary);
        border: 1px solid var(--color-primary);
        color: var(--color-text);
        font-size: 23px;
        gap: 20px;
        cursor: pointer;

        &:hover {
            width: 185px;
            height: 68px;
            background-color: var(--color-secondary);
            border: 1px solid var(--color-secondary);
            cursor: pointer;

        }
    }
}

.vertical {
    font-size: clamp(32px, 5vw, 64px);
    font-weight: 400;
    writing-mode: sideways-lr;
    white-space: nowrap;
}

h1 {
    font-size: clamp(44px, 6vw, 90px);
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: clamp(28px, 4vw, 58px);
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: var(--color-secondary);
}

@media (max-width: 500px) {
    h1 {
        line-height: 1.0;
    }
}