.aboveTheFold {
    // width: 100%;
    max-width: 1440px;
    height: calc(100vh - 110px);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // gap: 50px;

    img {
        max-width: 646px;
        width: 100%;
        flex: 1;
        // min-width: 0; /*<-- -->*/
        height: auto;
        object-fit: contain;
        margin: auto;
    }
}

.headlines {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;

    // > div {
    //     min-width: 0; /*<-- -->*/
    //     flex: 1 1 320px; /*<-- -->*/
    // }

    >.gab-15 {
        gap: 15px;
    }
}

.centerBoxColumn {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    // flex: 1 1 320px;
    // min-width: 0;

    >button {
        // box-sizing: border-box;
        width: 165px;
        height: 58px;
        font-size: 23px;
        // padding-top: 15px;
        // padding-bottom: 15px;
        // padding-left: 30px;
        // padding-right: 30px;
        border-radius: 10px;
        background-color: var(--color-primary);
        color: var(--color-text);
        display: flex;
        // flex: 1 1 auto;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
}

.centerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    // min-width: 0; /*<-- -->*/

    .vertical {
        font-size: clamp(32px, 5vw, 64px);
        // height: 64px;
        font-weight: 400;
        transform: rotate(-90deg);
        vertical-align: bottom;
        white-space: nowrap;
    }
}

h1 {
    font-size: clamp(44px, 6vw, 90px);
    font-weight: 700;
    margin: 0;
    padding: 8px 0;
}

h2 {
    font-size: clamp(28px, 4vw, 58px);
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: var(--color-secondary);
}