app-menu {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    height: 110px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 37px;
    padding-bottom: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: var(--color-background);
    z-index: 10;
}

app-content {
    width: 100%;
    flex: 1;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

app-footer {
    bottom: 0;
    width: 100%;
    height: 291px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 4px var(--color-primary);
}

@media (max-width: 950px) {
    app-menu {
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media (max-width: 670px) {
    app-menu {
        padding-left: 30px;
        padding-right: 30px;
    }
}