app-menu {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: var(--color-background);
    z-index: 10;
}

app-footer {
    height: 291px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    border-top: solid 4px var(--color-primary);
}