app-menu {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

app-content {
    width: 100%;
    flex: 1;
    margin-top: 110px;
    margin-bottom: 291px;
    display: flex;
    align-items: center;
    justify-content: center;
}

app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 291px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}