@import 'assets/styles/variables.scss';

* {
    line-height: 120%;
}
html {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
}

app-root {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

body {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
    background: var(--color-background);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: clamp(44px, 6vw, 90px);
    font-weight: 700;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: clamp(28px, 5vw, 58px);
    font-weight: 400;
    font-weight: bold;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    font-style: bold;
}