@import 'assets/styles/variables.scss';

html {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    display: flex;
    align-items: center;
}

app-root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

body {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppin', sans-serif;
    font-size: 16px;
    color: var(--color-text);
    background: var(--color-background);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 90px;
}